<html>

<header>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'fertilizerapp/style.css' %}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</header>

<body>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Edit {{ fertilizer.fertilizer_text }}</h1>
        <p class="lead">In this form you can edit {{ fertilizer.fertilizer_text }}.
            Warning, it is important that the audio files are clear and can be uploaded under the names entered.</p>
      </div>
    </div>
        <div class="container">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            <form action="" method="POST">
                {% csrf_token %}
                    <div class="form-group row">
                      <label>Fertilizer</label>
                      <input type="text" class="form-control" value="{{ fertilizer.fertilizer_text }}">
                      <input type="text" class="form-control" placeholder="The url-image of the Fertilizer">
                      <input type="file"  class="form-control" id="fertilizer_audio">
                    </div>
                    {% for crop in fertilizer.crop_set.all %}
                    <div class="form-group row">
                      <label>Crop</label>
                      <input type="text" class="form-control" value="{{crop}}">
                      <input type="text" class="form-control" placeholder="The url-image of the Crop">
                      <input type="file"  class="form-control" id="crop_audio">
                    </div>
                    {% endfor %}

                    {% for weather_condition in fertilizer.weather_set.all %}
                    <div class="form-group row">
                        <label>Weather condition</label>
                           <select class="form-control" value="{{weather_condition}}" id="Weather">
                               <option>Dry</option>
                               <option>Rain</option>
                           </select>
                        <input type="file"  class="form-control" id="weather_audio">
                    </div>
                    {% endfor %}

                    <div class="form-group row">
                      <label>Description</label>
                        <textarea type="text-field" class="form-control">{{ fertilizer.description_text }}</textarea>
                    </div>

                    <div class="form-group row">
                      <label>Online-Description</label>
                        <input type="text-field" class="form-control" value="{{ fertilizer.subdescription_text }}">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>

            </form>
                    <a href="/fertilizerapp/{{ fertilizer.id }}/"><button class="btn btn-info">Go Back</button></a>

        </div>
</body>

<script>
function myFunction(file) {
    var x = document.getElementById("file");
    x.disabled = true;
}
</script>

</html>
