<html>

<header>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'fertilizerapp/style.css' %}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</header>

<body>


    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Create or edit your fertilizer</h1>
          <p class="lead">To add a new fertilizer into the database you need to add all the information in the form. </p>
            <!--Warning, it is important that the audio files are clear and can be uploaded under the names entered.</p>-->
          <a href="/vxml/add/crop/"><button type="button" class="btn btn-info">Add Crop</button></a>
          <a href="/vxml/add/weather/"><button type="button" class="btn btn-info">Add Weather Condition</button></a>
      </div>
    </div>
        <div class="container">




            <form method="POST" action="">
                    {% csrf_token %}

                    {{ form.non_field_errors}}

                    <div class="field_wrapper">
                        {{form.fertilizer_name.errors}}
                        <label for="{{ form.fertilizer_name.id_for_label}}">Fertilizer</label>
                        {{ form.fertilizer_name }}
                    </div>

                    <div class="field_wrapper">
                        {{form.description.errors}}
                        <label for="{{ form.description.id_for_label }}">Description</label>
                        {{ form.description }}
                    </div>

                    <div class="field_wrapper">
                        {{form.crop_list.errors}}
                        <label for="{{ form.crop_list.id_for_label}}">Crop</label>
                        {{ form.crop_list }}

                    </div>

                    <div class="field_wrapper">
                        {{form.weather_condition_list.errors}}
                        <label for="{{ form.weather_condition_list.id_for_label}}">Weather Condition</label>
                        {{ form.weather_condition_list }}

                    </div>

                <input type="submit" class="btn btn-success" value="Save">
            </form>
            <a href="/vxml/fertilizer/"><button class="btn btn-info"> Go Back</button></a>

        </div>

</body>

</html>
