<html>

<header>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'fertilizerapp/style.css' %}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">

    <style>
        .pagination {
            display: inline-block;
            margin-left: 40%;

            margin-top: 3%;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
        }

        .pagination a:hover:not(.active) {background-color: #ddd;}

    }


    </style>

</header>

<body>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">MaMoisson</h1>
        <p class="lead">On this website you can add information about fertilizers for farmers who will be using the MaMoisson Voice Application.</p>
          <a href="/vxml/add/fertilizer/"><button type="button" class="btn btn-info">Add Fertilizer</button></a>
      </div>
    </div>


    <div class="container">
            {% if latest_fertilizer_list %}
            <div class="row">
                {% for fertilizer in latest_fertilizer_list %}
                <div class="col-lg-4 col-md-4 col-sm-6  col-sx-12">
                  <div class="card">
                     <div class="card-header">
                         <img class="img-thumbnail" src="{{ fertilizer.crop_list.crop_img_url }}" alt="Card image cap">
                     </div>
                     <div class="card-body">
                          <div class="card-body">
                              <h2 class="card-title mx-auto text-center">{{ fertilizer.fertilizer_name }}</h2>
                              <h2 class="card-title mx-auto text-center">{{ fertilizer.crop_name }}</h2>
                              <p class="card-text mx-auto text-center">{{ fertilizer.description|slice:"0:120" }}...</p>
                          </div>
                     </div>
                      <a href="/vxml/fertilizer/{{ fertilizer.id }}/" class="btn btn-info">Read More...</a>

                  </div>
                </div>
              {% endfor %}
            </div>
        {% else %}
            <p>No Fertilizers available.</p>
        {% endif %}
    </div>




    <!--<div>-->
        <!--<div class="pagination text-center">-->
          <!--<a href="#">&laquo;</a>-->
          <!--<a href="#">1</a>-->
          <!--<a class="active" href="#">2</a>-->
          <!--<a href="#">3</a>-->
          <!--<a href="#">4</a>-->
          <!--<a href="#">5</a>-->
          <!--<a href="#">6</a>-->
          <!--<a href="#">&raquo;</a>-->
        <!--</div>-->

     <!--</div>-->

</body>


</html>
